/build/
/dist/
/nbproject/private/

#ignorando archivos compilados, generados autom y configuraciones locales
/2025-2032_Surky_Baez/TareaPráctica1-POO/com.TareaPractica1/nbproject/private/
/2025-2032_Surky_Baez/TareaPráctica1-POO/PracticaPrimerParcial/nbproject/private/
/2025-2032_Surky_Baez/TareaPráctica1-POO/PracticaPrimerParcial/build/
/2025-2032_Surky_Baez/TareaPráctica1-POO/PracticaPrimerParcial/dist/
/2025-2032_Surky_Baez/PracticaPrimerParcial/PracticaPrimerParcial/nbproject/private/
/2025-2032_Surky_Baez/PracticaPrimerParcial/PracticaPrimerParcial/dist/
